* {
  padding: 0px;
  margin: 0px;
}

.display-none {
  display: none;
}

html,
body {
  background-color: #d8e6d0;
}

:root {
  --headingfont: "nexa-rust-sans-black-2", sans-serif;
  --headingweight: 900;
  --headingstyle: normal;
  --secondheadingfont: "nexa-rust-sans-black-shad-2", sans-serif;
  --smallerheadings: "nexa-rust-script-shad-2", sans-serif;
  --smallerheadingsweight: 400;
}

h1 {
  font-family: var(--secondheadingfont);
  font-weight: var(--headingweight);
  font-style: var(--headingstyle);
  font-size: 2em;
}

h2 {
  font-family: var(--smallerheadings);
  font-weight: var(--smallerheadingsweight);
  font-style: var(--headingstyle);
  text-align: center;
}

/* Intro Screen */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/intro.gif");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  z-index: 2000;
  color: white;
  text-align: center;
  line-height: 50vh;
}

.fadeText {
  padding-top: 200px;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(89, 16, 79);
  z-index: -10;
  color: white;
  text-align: center;
  transition: all 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

.tomato {
  max-width: 300px;
  max-height: 300px;
}
.tomato:hover {
  transform: scale(1.2);
  cursor:pointer; 
}

#content {
 margin-top: 40px; 
}

/* Film Info */

.img {
  width: 300px;
}

.key {
  font-family: var(--smallerheadings);
  font-weight: var(--smallerheadingsweight);
  font-style: var(--headingstyle);
  text-align: center;
}

.value {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

#pause-button {
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 30px;
  max-height: 30px;
}

/* Articles */

a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: aliceblue;
}

.article:hover {
  background-color: aqua;
}

.article {
  border: 2px solid red;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin: 20px 0px;
  background: #d8e6d0;
}

/* Display News Articles BTN */
.btn {
  font-size: 3em;
}

.form-control{          /*to style placeholder*/
  font-size: 38px;
  font-weight: bolder; 
 }

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 4em;
  }
  /* The Input text field */
  ::-webkit-input-placeholder {
    font-size: 50px !important;
  }
  /* Sound button */

  #pause-button {
    position: fixed;
    top: 50px;
    left: 100px;
    max-width: 50px;
    max-height: 50px;
  }
}

